.detail_info {
  .texts {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 100%;
    h4,
    h3 {
      font-size: 25px;
      color: #131313;
      font-weight: 400;
      font-family: "Inria Sans", serif;
    }

    h3 {
      font-size: 23px;
      font-weight: 600;
    }

    .images {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        border-radius: 10px;
        img {
            width: 62px;
            height: auto;
            border-radius: 10px;
        }
    }

    .sizes {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      gap: 20px;

      button {
        width: 40px;
        height: 40px;
        border-radius: 100%;
        background: #f5f5f5;
        border: 1px solid #f5f5f5;
        color: 14px;
        font-family: "Inria Sans", serif;
        cursor: pointer;
        outline: none;
        transition: background 0.2s ease, border 0.2s ease;

        &:hover {
          background-color: #000;
          color: #fff;
        }
      }
    }

    .buttons {
      width: 100%;
      display: flex;
      align-items: center;
      gap: 20px;
      button {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        &:first-child {
          width: calc(100% - 42px);
          height: 42px;
          border-radius: 20px;
          font-size: 17px;
          color: #fff;
          font-family: "Inria Sans", serif;
          background: rgba($color: #5cc777, $alpha: 1);
          border: 1px solid #5cc777;
          transition: background 0.2s ease;

          &:hover {
            background: rgba($color: #5cc777, $alpha: 0.9);
          }
        }

        &:nth-child(2) {
          width: 42px;
          height: 42px;
          border-radius: 100%;
          border: 1px solid #000;
          background: #fff;
        }
      }
    }

    .accordion {
      width: 100%;
      max-width: 400px;
      overflow: hidden;
      border-top: 1px solid #dedede;
      padding: 10px 0;
      .header {
        width: 100%;
        background: #ffff;
        padding: 12px 16px;
        font-size: 16px;
        font-weight: 500;
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        transition: background 0.3s;
        border: none;
        outline: none;
        font-family: "Inria Sans", serif;

        .icon {
          transition: transform 0.3s ease;
        }

        .rotate {
          transform: rotate(180deg);
        }
      }

      .content {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.4s ease, padding 0.3s ease;
        background: white;
        padding: 0 16px;

        p {
          font-size: 16px;
          color: #000;
          font-family: "Inria Sans", serif;
          font-size: 14px;
        }
      }

      .open {
        max-height: 100px;
        padding: 12px 16px;

        p {
          opacity: 1;
          transform: translateY(0);
          line-height: 1.5;
        }
      }
    }
  }
}

@media screen and (max-width:860px) {
  .detail_info {
    width: 100%;
    .texts {
      width: 100%;

      .buttons {
        button {

          &:first-child {
            width: calc(100% - 42px);
          }
  
          
        }
      }

      .accordion {
        max-width: 100%;
      }
    }
  }
}

@media screen and (max-width:560px) {
  .detail_info {
    .texts {

      h4,h3 {
        font-size: 22px;
      }

      h3 {
        font-size: 20px;
      }

      .buttons {
        button {

          &:first-child {
            width: calc(100% - 82px);
          }
  
          
        }
      }

      .accordion {
        max-width: 100%;

        .header {
          font-size: 14px;
        }

        .content {
          p {
            font-size: 14px;
          }
        }
      }
    }
  }
}
