.header {
  position: relative;
  background: #fff;
  .content {
    position: relative;
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    nav {
      display: flex;
      align-items: center;
      gap: 20px;
      ul {
        display: flex;
        align-items: center;
        gap: 20px;
        li {
          a {
            text-transform: uppercase;
            color: #2c2c2c;
            font-size: 12px;
            padding: 3px 0;
            transition: 0.2s ease;
          }

          &:hover {
            a {
              border-bottom: 1px solid #2c2c2c;
              transition: 0.2s ease;
            }

            &.open_burger {
              a {
                border: none;
              }
            }
          }

          &.open_burger {
            display: none;
            border: none;

            .burger_menu {
              width: 150px !important;
              .burger_content {
                position: relative;
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                .links {
                  width: 50%;
                  display: flex;
                  flex-direction: column;
                  align-items: start;
                  gap: 25px;
                  a {
                    font-size: 14px;
                    color: #2c2c2c;
                    padding: 0;
                    transition: 0.2s ease;
                    &:hover {
                      border-bottom: 1px solid #2c2c2c;
                      transition: 0.2s ease;
                    }
                  }
                }

                .remove_burger {
                  position: absolute;
                  top: 10px;
                  right: 10px;
                  svg {
                    width: 40px;
                    height: 40px;
                  }
                }
              }
            }
          }
        }
      }

      .lg {
        display: none;
        padding: 5px 0 0;
        img {
          max-width: 108px;
          height: auto;
        }
      }

      &.active {
        display: none;
      }
    }

    .logo {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding: 5px 0 0;
      img {
        max-width: 108px;
        height: auto;
      }

      &.active {
        display: none;
      }
    }

    ul {
      display: flex;
      align-items: center;
      gap: 20px;
      li {
        a,
        button {
          text-transform: uppercase;
          color: #2c2c2c;
          font-size: 12px;
          transition: 0.2s ease;
          padding: 3px 0;
        }

        .open_search {
          &.active {
            display: none;
          }
        }

        button {
          border: none;
          outline: none;
          background: none;
          cursor: pointer;
        }

        &.login,
        &.account {
          position: relative;
          
          .module {
            position: absolute;
            top: 35px;
            left: 50%;
            transform: translateX(-50%);
            width: 300px;
            height: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 15px;
            background-color: #fff;
            border: 1px solid #b4b4b4;
            opacity: 0;
            visibility: hidden;
            padding: 20px;
            transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out,
              transform 0.3s ease-in-out;
            z-index: 2;
            &::before {
              position: absolute;
              top: -5.8px;
              left: 48%;
              transform: translateX(-50%);
              transform: rotate(134deg);
              content: "";
              width: 10px;
              height: 10px;
              background-color: #fff;
              border-bottom: 1px solid #b4b4b4;
              border-left: 1px solid #b4b4b4;
              z-index: 2;
            }

            a.btn {
              display: flex;
              justify-content: center;
              align-items: center;
              width: 100%;
              height: 45px;
              background-color: #000;
              border: 1px solid #000;
              color: #fff;
              transition: 0.2s ease;
              outline: none;
              cursor: pointer;
              &:hover {
                opacity: 0.8;
                transition: 0.2s ease;
              }
            }

            p {
              font-size: 13px;
              color: #131313;
              font-weight: 300;
              display: flex;
              align-items: center;
              span {
                padding-left: 10px;
                padding-bottom: 2px;
                a {
                  font-weight: 400;
                  font-size: 13px;
                  text-transform: capitalize;
                }
              }
            }
          }

          &:hover {
            .module {
              opacity: 1;
              visibility: visible;
              transform: translateX(-50%) translateY(5px);
            }
          }
        }

        &.account {
          .module {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 0;
            h3 {
              width: 100%;
              font-size: 16px;
              color: #131313;
              border-bottom: 1px solid #dedede;
              padding: 20px;
            }

            ul {
              width: 100%;
              display: flex;
              flex-direction: column;
              align-items: center;
              padding: 10px 0;
              li {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 80%;
                padding: 10px 0 10px 5px;
                border-bottom: 1px solid #dedede;
                cursor: pointer;
                transition: 0.2s ease;
                span {
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  svg {
                    width: 15px;
                    height: 15px;
                  }
                }

                a,button {
                  text-transform: capitalize;
                  font-size: 13px;
                  font-weight: 400;
                  color: #131313;
                  border: none !important;
                }

                &:hover {
                  background-color: #fafafa;
                  transition: 0.2s ease;
                }
              }
            }
          }
        }

        &:hover {
          a {
            border-bottom: 1px solid #2c2c2c;
            transition: 0.2s ease;
          }

          &.open_burger {
            a {
              border: none;
            }
          }
        }
      }

      &.res {
        display: none;

      }
    }

    .search_form {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid #2c2c2c;

      input {
        width: 100%;
        font-size: 12px;
        border: none;
        outline: none;
      }

      button {
        border: none;
        outline: none;
        background: none;
        cursor: pointer;
      }
      &.active {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .header {
    .content {
      gap: 20px;
      nav {
        ul {
          li {
            display: none;

            &.open_burger {
              display: block;

              button {
                display: flex;
                justify-content: center;
                align-items: center;
              }
            }
          }
        }
        .lg {
          display: block;
        }
      }

      .logo {
        display: none;
      }

      ul {
        display: none;

        &.res {
          display: flex;
          gap: 10px;

          li {
            a {
              position: relative;
              display: flex;
              justify-content: center;
              align-items: center;
              span {
                font-size: 10px;
                position: absolute;
                top: 55%;
                left: 50%;
                transform: translate(-50%,-50%);
              }
            }
          }
          li:hover {
            a {
              border: none;
            }
          }
        }
      }

      .search_form {
        width: calc(100% - 105px);
      }
    }
  }
}
