.jacket {
  width: 50%;
    position: relative;
    display: flex;
    flex-direction: column;
    picture {
      line-height: 0;
      margin: 0;

      img {
        width: 100%;
        height: auto;
        object-fit: cover;
        object-position: center;
        line-height: 0;
      }

      &:nth-child(2) {
        display: none;
      }
    }
  
    button {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 105px;
      height: 58px;
      border-radius: 32px;
      background: rgba(0, 0, 0, 0.48);
      border: 2px solid #fff;
      outline: none;
      color: #fff;
      font-family: "Inria Sans", serif;
      cursor: pointer;
      transition: 0.2s ease;
      &:hover {
        background: #000;
        transition: 0.2s ease;
      }
    }
  }
  
  @media screen and (max-width:650px) {
    .jacket {
      width: 100%;
      picture {
        img {
          height: 760px;
          object-position: 0 5%;
        }

        &:nth-child(1) {
          display: none;
        }

        &:nth-child(2) {
          display: block;
        }
      }
    }
  }
  
  @media screen and (max-width:570px) {
    .jacket {
      picture {
        overflow: hidden;
        img {
          height: 600px;
        }
      }
  
      button {
        height: 45px;
      }
    }
  }