.shopping {
  position: sticky;
  top: 20px;
  height: 100%;
  .texts {
    width: 350px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    .text {
      display: flex;
      flex-direction: column;
      gap: 15px;

      p,
      span,
      h6 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 13px;
        color: #000;
        font-weight: 400;
      }

      h6 {
        font-size: 11px;
        margin: 3px 0 0;
      }

      button {
        width: 100%;
        padding: 10px 0;
        border: 1px solid #000;
        background: #000;
        color: #ffff;
        font-size: 14px;
        cursor: pointer;
        transition: background 0.3s ease, color 0.3s ease;
        &:hover {
          background: #fff;
          color: #000;
        }
      }
    }

    .lists {
      display: flex;
      flex-direction: column;
      gap: 10px;

      p {
        font-size: 13px;
        color: #000;
        font-weight: 400;
        display: flex;
        align-items: center;
        gap: 5px;
      }
    }
  }
}

@media screen and (max-width:1024px) {
    .shopping {
        position: static;
        display: flex;
        justify-content: center;
        align-items: center;
        .texts {
          width: 600px;
        }
      }
}
