.products {
    overflow-x: auto; // Yatay scroll için
    width: 100%;
    
    table {
      min-width: 800px; // Küçük ekranlarda kaydırma için minimum genişlik
      width: 100%;
      border-collapse: collapse;
  
      td,
      th {
        border: 1px solid #000;
        text-align: center;
      }
  
      tr {
        background-color: #202832;
  
        &:nth-child(2n - 1) {
          background-color: #2c3844;
        }
  
        &.selected {
          border: 3px solid #000;
        }
      }
  
      th {
        padding: 20px;
        background-color: #202832;
        color: #fff;
        white-space: nowrap; // Başlıkların kaymasını engelle
      }
  
      td {
        padding: 15px;
        color: #fff;
        text-transform: capitalize;
  
        img {
          width: 70px;
          height: auto;
        }
  
        .sizes {
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          justify-content: center;
          gap: 5px;
        }
  
        button {
          background: none;
          border: none;
          outline: none;
          font-size: 18px;
          cursor: pointer;
  
          &.edit,
          &.save {
            font-size: 20px;
            color: #27c6c1;
          }
  
          &.delete {
            color: red;
          }
        }
  
        input {
          width: 100%;
          height: 100%;
          text-align: center;
          display: flex;
          justify-content: center;
          align-items: center;
          background: none;
          border: none;
          outline: none;
          color: #fff;
          font-size: 16px;
        }
      }
    }
  }
  
  // RESPONSIVE TASARIM
  @media (max-width: 768px) {
    .products {
      overflow-x: auto; 
      table {
        min-width: 600px;
      }
    }
  }
  
  @media (max-width: 480px) {
    .products {
      table {
        min-width: 600px;
      }
    }
  }
  