.cart {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  .images {
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 130%;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center 20%;
      position: absolute;
      top: 0;
      left: 0;
      transition: opacity 0.3s ease;
    }

    .hoverImage {
      opacity: 0;
    }

    &:hover .mainImage {
      opacity: 0;
    }

    &:hover .hoverImage {
      opacity: 1;
    }
  }

  .variantInfo {
    position: relative;
    text-align: center;
    font-size: 13px;
    color: #131313;
    font-weight: 400;
    cursor: pointer;
    opacity: 0.8;
    .variantSelectors {
      display: flex;
      gap: 5px;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      margin-top: 5px;

      .variantCircle {
        width: 15px;
        height: 15px;
        border-radius: 50%;
        cursor: pointer;
        border: 2px solid #ccc;
        transition: border 0.2s ease;

        &:hover {
          border-color: #000;
        }
      }
    }
  }

  .texts {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 5px;

    h5 {
      font-size: 13px;
      color: #131313;
      font-weight: 400;
    }

    h6 {
      font-size: 13px;
      font-weight: 500;
      color: #131313;
    }
  }

  .favori {
    position: absolute;
    right: 5px;
    bottom: 10px;
    width: 36px;
    height: 36px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
    background: #fff;
    cursor: pointer;
    box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.03922),
      0px 2px 6px 0px rgba(0, 0, 0, 0.14118),
      0px 10px 20px 0px rgba(0, 0, 0, 0.03922);
  }
}
