.adminPanel {
  display: flex;
  height: 100vh;
}

.content {
  margin-left: 80px;
  width: calc(100% - 80px);
  padding: 20px;
  flex-grow: 1;
}

.sidebar:hover + .content {
  margin-left: 200px;
  width: calc(100% - 200px);
  transition: margin-left 0.3s ease, width 0.3s ease;
}
