.sidebar {
  width: 80px;
  height: 100vh;
  background-color: #212631;
  color: white;
  padding: 20px;
  transition: width 0.3s ease;
  overflow: hidden;
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0 20px 20px 0;
  &:hover {
    width: 200px;
  }

  h2 {
    opacity: 0;
    transition: opacity 0.3s ease;
    text-align: center;
    margin-bottom: 20px;

    &:hover {
      opacity: 1;
    }
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;

    li {
      margin: 20px 0;
      display: flex;
      align-items: center;
      a {
        display: flex;
        align-items: center;
        gap: 10px;
        text-decoration: none;
        color: white;
        font-size: 16px;
        padding: 10px;
        border-radius: 8px;
        transition: background 0.3s ease, width 0.3s ease;
        width: 100%;

        &:hover {
          background: rgba(255, 255, 255, 0.2);
        }

        .icon {
          font-size: 22px;
          width: 40px;
          text-align: center;
        }

        .text {
          opacity: 0;
          width: 0;
          overflow: hidden;
          transition: opacity 0.3s ease, width 0.3s ease;
          white-space: nowrap;
        }
      }
    }
  }

  &:hover .text {
    opacity: 1;
    width: auto;
  }

  &:hover h2 {
    opacity: 1;
  }
}
