* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", serif;
  font-weight: 500;
}

img {
  width: 100%;
  height: 100%;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

p {
  font-size: 14px;
  color: #777;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

@media screen and (max-width:1400px) {
  .container {
    padding: 0 30px;
  }
}
